.form__legend {
	margin: 0 0 ($g_v * 2);
	color: $c_primary;
	font-size: $fs_title;
	font-weight: 100;
}

.form__header {
	margin: 40px 0;

	h1, h2 {
		margin: 0;
		color: $c_accent;
		font-size: 30px;
		font-weight: 600;
		text-align: left;
	}

	h2 {
		text-align: center;
	}

	h3 {
		margin: 0;
		color: #494949;
		font-size: 25px;
		font-weight: 300;
		text-align: center;

		b {
			color: #88bf3e;
			font-weight: 300;
		}
	}

	@include res(pad) {
		margin: 20px 0;
	}

	&:first-child {
		margin-top: 0;
	}
}

.form__box {
	max-width: 1400px;
	margin: 30px auto;
	background: $c_light;
	box-shadow: 0 5px 13px rgba(#000, .2);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&_password {
		float: right;
		width: 300px;
		height: 360px;
		margin: 0 0 0 40px;
		padding: 40px;
		box-sizing: border-box;
		text-align: center;

		@include res(full) {
			width: 380px;
		}

		@include res(pad) {
			float: none;
			width: auto;
			height: auto;
			margin-left: 0;
		}
	}

	&_password + & {
		margin-right: 350px;

		@include res(full) {
			margin-right: 430px;
		}

		@include res(pad) {
			margin-right: 0;
		}
	}
}

.form__part {
	display: table;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;

	&:last-child {
		border-bottom: 0;
	}
}

.form__num {
	display: table-cell;
	width: 30px;
	padding: 30px 0 40px 40px;
	color: $c_accent;
	font-size: 30px;
	font-weight: 600;
	vertical-align: top;

	@include res(smart) {
		width: 10px;
		padding-left: 20px;
	}
}

.form__main {
	padding: 40px 40px;
	vertical-align: top;

	&_complex {
		@include res(hd) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	@include res(smart) {
		padding: 40px 20px;
	}
}

.form__row {
	position: relative;
	margin: 0 0 30px;

	&:last-child {
		margin-bottom: 0;
	}

	&:first-child {
		.form__main_complex & {
			@include res(hd) {
				width: 700px;
				margin-right: 60px;
				margin-bottom: 0;
			}
		}
	}

	&_besides {
		.form__main_complex & {
			@include res(hd) {
				margin-top: 50px;
			}
		}
	}

	&_submit {
		overflow: hidden;

		.table + &,
		.form__box + & {
			max-width: 1400px;
			margin: 50px auto 0;
			text-align: right;

			.button_prev {
				float: left;
			}

			@include res(pad) {
				margin-top: 0;
				text-align: center;

				.button_prev {
					float: none;
				}

				.button {
					margin: 5px;
				}
			}
		}

		.form__box_password ~ & {
			width: 300px;
			margin-left: auto;
			text-align: center;

			@include res(full) {
				width: 380px;
			}

			@include res(pad) {
				width: auto;
			}
		}
	}
}

.form__set {
	display: flex;
	flex-wrap: wrap;
}

.form__double {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 700px;
}

.form__element {
	display: block;
	position: relative;
	margin: 0;

	&_input,
	&_select {
		max-width: 700px;
	}

	&_wide {
		max-width: 100%;
	}

	&_select {
		&:after {
			content: '';
			position: absolute;
			bottom: 2px;
			right: 2px;
			width: 46px;
			height: 46px;
			background: #FFF url($path + '/images/ico_select.png' + $ver) no-repeat 50% 50%;
			pointer-events: none;
		}
	}

	&_input-add {
		&:after {
			content: '+';
			position: absolute;
			bottom: 21px;
			right: 20px;
			width: 12px;
			height: 22px;
			margin: -11px 0 0 0;
			color: #c0c0c0;
			font-size: 24px;
			font-weight: 300;
			pointer-events: none;
		}
	}

	& + & {
		margin-top: 20px;

		@include res(fablet) {
			margin-top: 20px !important;
		}
	}

	&_disabled {
		&:after {
			opacity: .3;
		}
	}

	.form__double & {
		width: 47%;
		margin-top: 0;

		@include res(fablet) {
			width: 100%;
		}
	}
}

.form__element_big {
	&.form__element_select {
		&:after {
			bottom: 12px;
		}
	}
}

.form__label,
.form__property {
	display: block;
	padding: 0 0 20px;
	color: #414141;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	//white-space: nowrap;
	//text-overflow: ellipsis;
	cursor: text;
	pointer-events: none;

	.panel & {
		color: #88bf3e;
	}
}

.form__label_empty {
	@include res(fablet) {
		display: none;
	}
}

.form__remark {
	color: #606060;
	font-weight: 100;
}

.form__property {
	display: inline-block;
	min-width: 220px;
	padding: 0 20px 0 0;
	vertical-align: top;
}

.form__value {
	display: inline-block;
	font-size: 20px;
	font-weight: 100;
	vertical-align: top;
}

.form__measure {
	color: #88bf3e;
}

.form__star {
	color: #f00;
	font-weight: 100;

	.panel & {
		color: #757575;
	}
}

.form__input,
.form__select,
.form__textarea {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 15px;
	border: 2px solid #c0c0c0;
	border-radius: 3px;
	box-sizing: border-box;
	background: #FFF;
	color: #707070;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	transition: $s linear;

	.panel & {
		color: #939393;
	}

	.form__row_error & {
		border-color: $c_accent;
		box-shadow: 0 0 0 1px $c_accent;
	}

	&:focus {
		border-color: $c_primary;
	}

	&:disabled,
	.form__element_disabled & {
		background: #FAFAFA;
		color: rgba($c_secondary, .5);
		opacity: .3;
		cursor: not-allowed;
	}
}


.form__select {
	appearance: none;

	.form__element_big & {
		height: 70px;
	}
}
.form__select::-ms-expand {
	display: none;
}

.form__textarea {
	height: 200px;
	max-height: 300px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: vertical;
}

//.selectric-open ~ .form__label { // temp
//	color: $c_link;
//}
//
//.selectric-open ~ .form__label {
//	z-index: 99999;
//}

.form__radio,
.form__checkbox {
	display: block;
	padding: 0;

	.form__set & {
		width: 50%;

		.lt-ie10 & {
			display: inline-block;
			width: 48%;
			vertical-align: top;
		}
	}

	&_full {
		width: 100% !important;
	}

	.form__line & {
		display: inline-block;
		margin-right: 60px;
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}

	.form__list & {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form__radio-box,
.form__checkbox-box {
	position: absolute;
	left: -3000px;
}

.form__radio-label,
.form__checkbox-label {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 5px 0 5px 60px;
	border: 0;
	border-radius: 0;
	background: none;
	box-shadow: none;
	color: #707070;
	font-size: 18px;
	line-height: 1.7;
	transition: none;

	&:before {
		content: '';
		float: left;
		width: 26px;
		height: 26px;
		margin: 0 0 0 -60px;
		border: 2px solid #c0c0c0;
		border-radius: 50%;
		cursor: pointer;
	}

	.form__radio_disabled &,
	.form__checkbox_disabled & {
		border-color: #999;
		opacity: .4;
		cursor: not-allowed;
	}

	.panel & {
		padding-left: 24px;
		color: #9a9a9a;
		font-size: $fs_caption;

		&:before {
			margin: 2px 0 0 -24px;
			width: 12px;
			height: 12px;
		}
	}
}

.form__checkbox-label {
	&:before {
		border-radius: 5px;
		color: #88bf3e;
		line-height: 18px;
	}
}

.form__radio-box:checked + .form__radio-label:before {
	border-color: #88bf3e;
	background: #88bf3e;
}

.form__checkbox-box:checked + .form__checkbox-label:before {
	content: '';
	border-color: #88bf3e;
	background: #88bf3e url($path + '/images/ico_check.png' + $ver) no-repeat 50% 50%;
	background-size: 13px 10px;
	color: #FFF;
	font-size: 10px;
	line-height: 12px;
	text-align: center;

	.panel & {
		background-size: 8px 5px;
	}
}

.form__text {
	display: inline-block;
	margin-right: $g;
	line-height: 50px;

	&_light {
		font-weight: 100;
	}
}

.form__error {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	top: 5px;
	right: 0;
	padding: 0 $g;
	border-radius: 3px;
	color: $c_accent;
	line-height: 10px;
	font-size: 10px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
	cursor: text;
	transition: .1s ease;

	//&:before
	//	content: ''
	//	position: absolute
	//	top: -10px
	//	left: $g * 2
	//	border-left: 10px solid transparent
	//	border-right: 10px solid transparent
	//	border-bottom: 10px solid $c_accent

	.form__row_error & {
		display: block;
	}
}

.form__tags {
	margin: -10px -7px;
}

.form__tag {
	display: inline-block;
	margin: 10px 7px;
	padding: 4px 10px;
	border: 2px solid #c0c0c0;
	border-radius: 4px;
	color: #88bf3e;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.form__tag-close {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: middle;
	cursor: pointer;
}

.form__tag-ico {
	width: 10px;
}

@include placeholder {
	color: #c2c2c2;
	font-style: italic;
	font-weight: 100;
}





.form__password-ico {
	width: 80px;
	height: 80px;
}

.form__password-name {
	margin: 50px 0 40px;
	color: #414141;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	@include res(pad) {
		margin: 10px 0;
	}
}

.form__scale {
	position: relative;
}

.form__scale-line {
	overflow: hidden;
	height: 12px;
	border-radius: 12px;
	background: #d9d9d9;
	font-size: 1px;
	line-height: 1px;
}

.form__scale-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	border-radius: 12px;
	background: #8bc543;
}

.form__scale-status {
	margin-top: 50px;
	color: #888;
	text-transform: uppercase;

	@include res(pad) {
		margin-top: 10px;
	}
}


