.table {
	margin: 20px 0 0;

	&_sitemap {
		border-top: 1px solid #d9d9d9;
	}
}

.table__row {
	display: table;
	width: 100%;

	.table__body & {
		margin: 15px 0 0;
		background: $c_light;
		box-shadow: 0 5px 13px rgba(#000, .2);

		.table_sitemap & {
			margin: 10px 0 0;
		}

		&_allowance {
			margin-top: 50px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.table_family &,
	.table_purchases &,
	.table_sitemap & {
		box-shadow: none;
	}
}


.table_th,
.table_td {
	display: table-cell;
	width: 13%;
	padding: 0 2%;
	box-sizing: border-box;
	vertical-align: middle;

	&_size {
		width: 18%;
	}

	&_age,
	&_edit,
	&_cancel,
	&_status,
	&_weight {
		width: 100px;
		text-align: center;
	}

	&_price,
	&_id {
		width: 150px;
	}

	&_menu-plan,
	&_ingredients {
		width: 190px;
	}

	&_groups {
		width: 35%;
	}

	&_change,
	&_name,
	&_location,
	&_plan,
	&_date {
		width: auto;
	}

	&_menu,
	&_action {
		width: 200px;
	}

	&_modification {
		width: 25%;
		min-width: 200px;
		white-space: nowrap;
	}

	&_status {
		text-align: center;
	}

	&_day {
		width: auto;
	}

	&_eating {
		width: 16.5%;
	}
}

.table_th {
	color: #939393;
	text-transform: uppercase;
	vertical-align: bottom;

	.table_family &,
	.table_purchases & {
		text-transform: none;
	}

	.table_sitemap & {
		padding-top: 20px;
		padding-bottom: 10px;
		text-transform: none;
	}

	&_name {
		border-left: 5px solid transparent;
	}
}

.table_td {
	height: 110px;
	font-weight: 100;

	b {
		color: #88bf3e;
	}

	&_name,
	&_plan {
		border-left: 5px solid $c_primary;
	}

	&_location {
		font-weight: 600;

		a {
			color: $c_primary;
			text-decoration: none;
		}
	}

	&_groups {
		width: 30%;
		color: $c_primary;
		font-size: 22px;
		font-weight: 600;
	}

	&_menu {
		font-size: 20px;
		font-weight: 600;

		a {
			color: $c_primary;
			text-decoration: none;
		}
	}

	&_status,
	&_price {
		font-size: 20px;
		font-weight: 600;
	}

	&_status {
		color: $c_primary;
	}

	.table_sitemap & {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&_symbol {
		width: 8%;
		text-align: center;
	}

	&_day {
		padding-right: 0;
		color: $c_primary;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	&_eating {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;

		a {
			color: $c_accent;
			text-decoration: none;
		}
	}

	&_allowance {
		width: auto;
		color: $c_primary;
		font-size: 16px;
		font-weight: 600;
	}

	&_allowance-text {
		width: 66%;
	}
}

.table__ico {
	width: 34px;
	height: 34px;
}

.table__symbol {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}









