.panel {
	position: relative;
	width: 300px;
	min-width: 300px;
	min-height: 500px;
	padding-bottom: 100px;
	background: $c_light;

	@include res(pad) {
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		min-height: 0;
		padding-bottom: 0;

		.panel-open & {
			height: 100%;
			background: none;
		}
	}
}

.panel__blocker {
	position: fixed;
	z-index: -1;
	top: $g_header + $g_nav;
	height: 100%;
	left: 0;
	right: 0;
	background: rgba(#000, .7);
	opacity: 0;
	visibility: hidden;
	transition: opacity $s/2 linear;

	.panel-open & {
		z-index: 210;
		opacity: 1;
		visibility: visible;
	}
}

.panel__box {
	overflow: auto;
	position: relative;
	padding: 36px 0;
	box-sizing: border-box;
	max-height: 100%;

	.panel_menu & {
		padding-top: 0;
	}

	.form {
		padding-left: 20px;
		padding-right: 20px;

		@media screen and (min-width: 1100px) {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	@include res(pad) {
		z-index: 220;
		max-height: 0;
		padding-top: $g_header + $g_nav;
		padding-bottom: 0;
		background: $c_light;
		transition: $s/2 linear;

		.panel-open & {
			max-height: 100vh;
			padding-top: $g_header + $g_nav + 20;
			padding-bottom: 20px;
		}

		.panel_menu & {
			.panel-open & {
				padding-top: $g_header + $g_nav;
				padding-bottom: 0;
			}
		}
	}
}

.panel__header {
	margin: 0 0 36px;
	padding: 0 20px 36px;
	border-bottom: 1px solid #ececec;
	color: #179F24;

	@media screen and (min-width: 1100px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@include res(pad) {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}

.panel__header-simbol {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;

	@media screen and (min-width: 1100px) {
		margin-right: 25px;
	}
}

.panel__header-ico {
	height: 32px;
	vertical-align: middle;
}

.panel__name {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	vertical-align: middle;

	@media screen and (min-width: 1100px) {
		font-size: 25px;
	}
}

.panel__up {
	position: absolute;
	z-index: 230;
	bottom: 40px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	@include res(pad) {
		display: none;
	}
}

.panel__up-ico {
	width: 40px;
}

.panel__up-text {
	color: #aeaeae;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}




