.mosaic {
	@extend .clearfix;
	margin: 40px 0 0;
}

.mosaic__directions {
	margin: 0 0 30px;

	h2 {
		margin: 0 0 30px;
		font-size: 30px;
		font-weight: 600;
		color: #88bf3e;
		text-align: left;
	}

	ol {
		margin: 0;
		padding: 0;
		counter-reset: myCounter;
		text-align: left;
	}

	li {
		margin: 60px 0 60px 50px;
		list-style: none;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			counter-increment: myCounter;
			content:counter(myCounter);
			margin: -9px 0 0 -50px;
			float: left;
			color: #88bf3e;
			line-height: 1;
			font-size: 30px;
			font-weight: bold;
		}
	}

	@include res(full) {
		float: left;
		width: 49%;
		margin: 0;
	}
}

.mosaic__contact {
	margin: 0 0 40px;
	font-size: 14px;
	line-height: 2;

	ol {
		margin: 0;
		padding: 0;
		counter-reset: myCounter;
		text-align: left;
	}

	li {
		margin: 30px 0;
		list-style: none;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			counter-increment: myCounter;
			content:counter(myCounter);
			display: inline-block;
			margin: 0 20px 0 0;
			color: $c_primary;
			line-height: 1;
			font-weight: 400;
		}
	}

	a {
		color: $c_primary;
		font-weight: 600;
	}

	@include res(full) {
		float: left;
		width: 69%;
		margin: 0;
	}
}

.mosaic__submit,
.mosaic__view,
.mosaic__address,
.mosaic__call,
.mosaic__serving,
.mosaic__cooking,
.mosaic__not,
.mosaic__served {
	float: left;
	position: relative;
	margin: 0 0 40px 0;
	width: 49%;

	@include res(fablet) {
		float: none;
		width: auto;
		margin: 0 0 20px 0 !important;
	}
}

.mosaic__serving,
.mosaic__cooking,
.mosaic__not,
.mosaic__served {
	@include res(full) {
		width: 23.5%;
		margin: 0 0 40px 2%;
	}
}

.mosaic__cooking,
.mosaic__served,
.mosaic__view,
.mosaic__call {
	margin-left: 2%;
}

.mosaic__submit,
.mosaic__view {
	@include res(full) {
		width: 29%;
		margin: 0 0 40px 2%;
	}
}

.mosaic__address {
	p {
		padding-right: 20px;
		vertical-align: top;

		@include res(full) {
			display: inline-block;
		}
	}
}


.mosaic__box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 370px;
	padding: 0 30px;
	background: $c_light;
	box-shadow: 0 5px 13px rgba(#000, .2);

	.mosaic__directions & {
		height: auto;
		padding: 30px 80px;
		text-align: left;

		@include res(full) {
			height: 780px;
			padding: 0 100px;
		}

		@include res(fablet) {
			padding: 20px 20px;
		}
	}

	.mosaic__contact & {
		justify-content: flex-start;
		align-items: flex-start;
		box-sizing: border-box;
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;

		@include res(full) {
			height: 780px;
		}
	}
}

.mosaic__content {
	width: 100%;
	text-align: center;

	.mosaic__contact & {
		text-align: left;
	}

	.mosaic__call &,
	.mosaic__address & {
		padding-left: 160px;
		font-size: 20px;
		font-weight: 100;
		text-align: left;

		@media screen and (min-width: 1100px) {
			padding-left: 250px;
		}

		@include res(pad) {
			font-size: 16px;
		}

		@include res(fablet) {
			width: 100%;
			padding-left: 0;
			text-align: center;
		}
	}
}

.mosaic__ico {
	width: 105px;
	height: 105px;
	vertical-align: bottom;

	.mosaic__submit &,
	.mosaic__view &,
	.mosaic__address &,
	.mosaic__call & {
		width: 140px;
		height: 140px;
	}

	.mosaic__call &,
	.mosaic__address & {
		position: absolute;
		top: 50%;
		left: 20px;
		margin: -70px 0 0;

		@media screen and (min-width: 1100px) {
			left: 50px;
		}

		@include res(fablet) {
			position: relative;
			top: auto;
			left: auto;
			margin: 0 auto;
		}
	}
}

.mosaic__name {
	margin: 10px 0;
	color: #88bf3e;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;

	.mosaic__submit &,
	.mosaic__view &,
	.mosaic__address &,
	.mosaic__call & {
		font-size: 28px;
	}

	.mosaic__submit &,
	.mosaic__view & {
		color: #4c524b;
	}
}

.mosaic__serving-table {
	width: 100%;
	margin: 50px 0 0;
	text-align: left;

	td, th {
		padding: 10px;
	}

	th {
		font-weight: 600;
	}

	td {
		text-align: right;
	}
}

.mosaic__time {
	margin: 34px 0 0;

	b {
		display: block;
		margin: 0 0 10px;
		color: #88bf3e;
		line-height: 1;
		font-size: 72px;
		font-weight: 900;
	}
}

.mosaic__taboo {
	margin: 34px 0 0 15%;
	padding: 0;
	list-style: none;
	text-align: left;

	li {
		position: relative;
		margin: 20px 0 0;
		padding: 0 0 0 50px;

		&:before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 14px;
			height: 14px;
			background: url($path + '/images/ico_cross.png' + $ver) no-repeat 0 0;
		}
	}
}

.mosaic__menu {
	margin: 40px 0 36px;
	padding: 0;
	list-style: none;

	li {
		margin: 20px 0 0;
		font-weight: 600;
	}
}


