.recipes {
	position: relative;
}

.recipes__list {
	display: flex;
	flex-wrap: wrap;
	margin: -7px 0;
	padding: 0;
	list-style: none;
}

.recipes__item {
	width: 33.33%;


	.lt-ie10 & {
		display: inline-block;
		width: 32%;
		margin-left: 1%;
		margin-right: 1%;
		text-align: center;
		vertical-align: top;
	}

	@media screen and (min-width: 1370px){
		width: 25%;

		.lt-ie10 & {
			width: 20%;
		}
	}

	@media screen and (min-width: 1700px){
		width: 20%;

		.lt-ie10 & {
			width: 17%;
		}
	}

	@include res(fablet) {
		width: 100%;

		.lt-ie10 & {
			width: 100%;
		}
	}
}

.panel + .section__wrapper .recipes__item {
	width: 33.33%;

	.lt-ie10 & {
		width: 30%;
	}

	@media screen and (min-width: 1220px){
		width: 25%;

		.lt-ie10 & {
			width: 22%;
		}
	}

	@media screen and (min-width: 1450px){
		width: 20%;
	}

	@include res(hd) {
		width: 25%;
	}

	@media screen and (min-width: 1900px){
		width: 20%;
	}

	@include res(pad) {
		width: 25%;

		.lt-ie10 & {
			width: 22%;
		}
	}

	@media screen and (max-width: 940px){
		width: 33.33%;

		.lt-ie10 & {
			width: 30%;
		}
	}

	@include res(fablet) {
		width: 50%;

		.lt-ie10 & {
			width: 46%;
		}
	}

	@include res(smart) {
		width: 100%;

		.lt-ie10 & {
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.recipes__box {
	display: block;
	width: 210px;
	height: 330px;
	margin: 7px auto;
	background: $c_light;
	box-shadow: 0 5px 13px rgba(#000, .2);
	text-decoration: none;

	@include res(hd) {
		width: 300px;
		height: 390px;
	}

	@include res(smart) {
		width: 340px;
	}

	@media screen and (max-width: 340px){
		width: auto;
	}
}

.recipes__cover {
	height: 160px;
	background-color: #EEE;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	@include res(hd) {
		height: 226px;
	}
}


.recipes__content {
	overflow: hidden;
	height: 78px;
	padding: 20px 16px 0;

	@include res(hd) {
		height: 70px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.recipes__name {
	margin: 0;
	color: #4c524b;
	font-size: 14px;
	font-weight: 600;

	@include res(hd) {
		font-size: 16px;
	}
}

.recipes__assignment {
	margin: 0;
	color: #4f963a;
	font-weight: 100;
	font-size: 13px;

	 b {
		 font-weight: 600;
	 }

	@include res(hd) {
		font-size: 16px;
	}
}

.recipes__footer {
	padding: 10px 16px 0;

	@include res(hd) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.recipes__logo {
	float: right;
}

.recipes__label {
	margin: 0 0 10px;
	color: #ffaf3c;
	font-size: $fs_caption;
	font-family: Serif;
	font-weight: 600;
	text-transform: uppercase;
}

.recipes__scale {
	overflow: hidden;
	position: relative;
	width: 66px;
	height: 10px;
	border-radius: 12px;
	border: 2px solid #ffaf3c;
}

.recipes__progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #ffaf3c;

	.recipes__range_low & {
		width: 15%;
	}

	.recipes__range_medium & {
		width: 50%;
	}

	.recipes__range_high & {
		width: 100%;
	}
}



