.header {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	height: $g_header;
	color: $c_light;
	background: $c_dark url($path + '/images/header_bg.jpg' + $ver) repeat 50% 50%;
	box-shadow: 0 $g_nav 20px rgba(#000, 0);
	transition: $s linear;

	&_fixed {
		box-shadow: 0 $g_nav 20px rgba(#000, .5);
	}
}

.header__wrapper {
	position: relative;
	max-width: $g_layout_max;
	height: 100%;
	margin: 0 auto;
}

.header__home {
	display: block;
	float: left;
	overflow: hidden;
	height: $g_header;
	padding: 0 40px;

	&:hover {
		background: rgba(#FFF, .05);
	}

	@include res(smart) {
		width: 36px;
		padding: 0 20px;
	}
}

.header__logo {
	width: 274px;
	margin: 14px 0 0;
}

.header__nav {
	float: right;

	&_door {
		border-left: 4px solid rgba($c_accent, .1);
	}
}


.header__door,
.header__user {
	display: block;
	height: $g_header;
	padding: 0 40px;
	line-height: $g_header - 6;
	text-decoration: none;
	
	&:hover {
		background: rgba(#FFF, .05);
	}

	@include res(fablet) {
		padding: 0 20px;
	}
}

.header__ico,
.header__avatar {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 15px;
	vertical-align: middle;

	@include res(fablet) {
		margin-right: 0;
	}
}

.header__avatar {
	width: 35px;
	height: 35px;
	margin-right: 30px;
	border-radius: 50%;

	@include res(fablet) {
		margin-right: 0;
	}
}

.header__text {
	display: inline-block;
	vertical-align: middle;

	@include res(fablet) {
		display: none;
	}
}











