{% extends '../blocks/layout/html/layout.html' %}

{% block meta-title %}NotJustDietPlans - Contact{% endblock %}
{% block meta-description %}NotJustDietPlans{% endblock %}
{% block meta-keywords %}NotJustDietPlans Keywords{% endblock %}
{% block meta-url %}index.html{% endblock %}
{% block meta-image %}./public/uploads/soc_index.jpg{% endblock %}

{% set ver = '?v=' + Date.now() %}

{% set path = './public' %}

{% set layout_class = '_contact' %}

{% set nav_contact = ' nav__item_active' %}

{% block content %}
	{% include "../blocks/section/html/section_contact.html" %}
{% endblock %}
