{% extends '../blocks/layout/html/layout.html' %}

{% block meta-title %}NotJustDietPlans - Privacy Policy{% endblock %}
{% block meta-description %}NotJustDietPlans{% endblock %}
{% block meta-keywords %}NotJustDietPlans Keywords{% endblock %}
{% block meta-url %}index.html{% endblock %}
{% block meta-image %}./public/uploads/soc_index.jpg{% endblock %}

{% set ver = '?v=' + Date.now() %}

{% set path = './public' %}

{% block content %}
	{% include "../blocks/section/html/section_privacy_policy.html" %}
{% endblock %}
