.post {
	position: relative;

	h1, h2, h3, hr {
		margin: 40px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h2, h3 {
		color: $c_primary;
		font-size: 35px;
		font-weight: 600;

		@include res(smart) {
			font-size: 25px;
		}
	}

	h3 {
		font-size: 25px;

		@include res(smart) {
			font-size: 20px;
		}
	}

	h4, p, ul, ol {
		margin: 20px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h4 {
		line-height: 2;
		font-weight: 600;
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			margin: 5px 0;
			padding: 0 0 0 50px;

			&:before {
				content: '';
				float: left;
				width: 3px;
				height: 3px;
				margin: 9px 0 0 -12px;
				border-radius: 50%;
				background: $c_primary;
			}
		}
	}

	ol {
		padding: 0;
		list-style: none;
		counter-reset: myCounter;

		li {
			margin: 5px 0;
			padding: 0 0 0 50px;

			&:before {
				counter-increment: myCounter;
				content: counter(myCounter);
				float: left;
				width: 30px;
				margin: 0 0 0 -40px;
				color: $c_primary;
				text-align: right;
			}
		}
	}

	img {
		max-width: 100%;
	}

	hr {
		border: 0;
		border-top: 2px solid #e5e5e5;
	}
}

.post__header {
	margin: 0 0 40px;

	h1 {
		color: $c_accent;
		font-size: 32px;
		font-weight: 600;

		@include res(smart) {
			font-size: 28px;
		}
	}

	@include res(smart) {
		margin: 0 0 20px;
	}
}

.post__box {
	display: table;
	width: 100%;
	background: $c_light;
	box-shadow: 0 5px 13px rgba(#000, .2);

	@include res(pad) {
		display: block;
	}
}

.post__text {
	display: table-cell;
	padding: 40px 65px;

	&_double {
		columns: 2 400px;
		column-gap: 65px;
	}

	h1 {
		margin: 0 0 30px;
		color: $c_primary;
		font-size: 32px;
		font-weight: 600;
		text-align: left;
		text-transform: none;

		@include res(smart) {
			font-size: 20px;
		}
	}

	hr {
		margin-left: -65px;
		margin-right: -65px;
	}

	@include res(pad) {
		display: block;
	}

	@include res(smart) {
		display: block;
		padding: 20px 20px;

		hr {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
}

.post__sidebar {
	display: table-cell;
	width: 300px;
	padding: 40px 65px 40px 0;

	@include res(pad) {
		display: block;
		width: auto;
		padding: 0 20px 20px;
		text-align: center;
	}
}


.post__faq-link {
	display: inline-block;
	width: 95%;
	margin: 0 0 0 20px;
	color: $c_accent;
	text-decoration: none;
	vertical-align: top;

	@include res(pad) {
		width: 90%;
	}

	@include res(smart) {
		display: inline;
		width: auto;
	}
}

.post__faq-achor {
	color: $c_primary;
	text-decoration: none;
}







