.post {
	position: relative;

	img {
		max-width: 100%;
	}
}

.post__box {
	display: table;
	width: 100%;
	background: $c_light;
	box-shadow: 0 5px 13px rgba(#000, .2);

	@include res(pad) {
		display: block;
	}
}

.post__text {
	display: table-cell;
	padding: 40px 65px;

	h1 {
		margin: 0 0 30px;
		color: $c_primary;
		font-size: 32px;
		font-weight: 600;
		text-align: left;
		text-transform: none;

		@include res(smart) {
			font-size: 20px;
		}
	}

	@include res(pad) {
		display: block;
	}

	@include res(smart) {
		display: block;
		padding: 20px 20px;
	}
}

.post__sidebar {
	display: table-cell;
	width: 300px;
	padding: 40px 65px 40px 0;

	@include res(pad) {
		display: block;
		width: auto;
		padding: 0 20px 20px;
		text-align: center;
	}
}












