
html {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: $ff;
	font-size: $fs_body;
	font-weight: 100;
	line-height: 1.45;
	background-color: $c_light;
	color: $c_text;
}

//.popup-open {
//	overflow: hidden;
//}

a {
	color: inherit;
	text-decoration: underline;
	//transition: color $s ease
	&:hover {
		text-decoration: none;
	}
}

h1,
.title_h1 {
	position: relative;
	margin: 0;
	font-size: $fs_title;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.3;
}

h2,
.title,
.title_h2 {
	margin: 0;
	line-height: 1.3;
	font-size: $fs_title;
	font-weight: 100;
	text-transform: uppercase;
}

h3,
.title_h3 {
	font-size: $fs_big;
	font-weight: bold;
}

h4 {
	color: $c_primary;
	font-size: $fs_body;
	font-weight: 600;
}

h5 {
	color: $c_primary;
	font-size: $fs_subheading;
	font-weight: 600;
}

p {
	&:first-child{
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

img[align="left"] {
	float: left;
	margin: 0 20px 20px 0;
}

img[align="right"] {
	float: left;
	margin: 0 0 20px 20px;
}

.subtitle {
	color: $c_secondary;
}

hr {
	clear: both;
	margin: 35px 0;
	border: 0;
	border-top: 1px solid $c_primary;
	border-top: 1px solid rgba($c_primary, .2);

	@include res(pad) {
		margin: 30px 0;
	}
}

.clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.wrapper {
	position: relative;
	max-width: $g_layout_max;
	min-width: $g_layout_min - 40;
	margin: 0 auto;
	padding: 0 20px;
}

.hidden {
	display: none;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.narrow {
	max-width: $g_narrow;
	margin-left: auto;
	margin-right: auto;
}
