.nav {
	position: fixed;
	z-index: 600;
	top: $g_header;
	left: 0;
	right: 0;
	min-width: $g_layout_min;
	height: $g_nav;
	background: $c_light;
	color: $c_text_hint;
}

.nav__menu {
	background: $c_light;
	box-shadow: inset 0 -3px 0 #d9d9d9;

	@include res(pad) {
		overflow: hidden;
		position: absolute;
		z-index: 400;
		top: $g_nav;
		left: 0;
		right: 0;
		max-height: 0;
		box-shadow: none;
		border-bottom: 2px solid #d9d9d9;
		transition: max-height $s/2 linear;

		.nav-open & {
			max-height: 400px;
		}
	}
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav__item {
	display: inline-block;
	margin: 0 1.6%;
	height: 62px;

	@include res(pad) {
		display: block;
		height: auto;
		margin: 0;
		border-top: 2px solid #d9d9d9;
	}
}

.nav__link {
	display: block;
	height: 57px;
	color: #a4a4a4;
	text-decoration: none;

	&:hover {
		color: $c_primary;
	}

	.nav__item_active & {
		border-bottom: 5px solid $c_primary;
		color: $c_primary;
	}

	@include res(pad) {
		border: 10px solid transparent;
		border-top: 0;
		border-bottom: 0;
		padding-left: 35%;
		text-align: left;

		.nav__item_active & {
			border: 10px solid $c_primary;
			border-top: 0;
			border-bottom: 0;
		}
	}
}

.nav__symbol {
	display: inline-block;
	width: $g_icons;
	height: $g_icons;
	margin: 0 20px 0 0;
	vertical-align: middle;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	.nav__item_recipes & {
		background-image: url($path + '/images/ico_recipes.png' + $ver);
	}
	.nav__item_recipes.nav__item_active &,
	.nav__item_recipes:hover & {
		background-image: url($path + '/images/ico_recipes_active.png' + $ver);
	}

	.nav__item_books & {
		background-image: url($path + '/images/ico_books.png' + $ver);
	}
	.nav__item_books.nav__item_active &,
	.nav__item_books:hover & {
		background-image: url($path + '/images/ico_books_active.png' + $ver);
	}

	.nav__item_forum & {
		background-image: url($path + '/images/ico_forum.png' + $ver);
	}
	.nav__item_forum.nav__item_active &,
	.nav__item_forum:hover & {
		background-image: url($path + '/images/ico_forum_active.png' + $ver);
	}

	.nav__item_family & {
		background-image: url($path + '/images/ico_member.png' + $ver);
	}
	.nav__item_family.nav__item_active &,
	.nav__item_family:hover & {
		background-image: url($path + '/images/ico_member_active.png' + $ver);
	}

	.nav__item_menu & {
		background-image: url($path + '/images/ico_menu.png' + $ver);
	}
	.nav__item_menu.nav__item_active &,
	.nav__item_menu:hover & {
		background-image: url($path + '/images/ico_menu_active.png' + $ver);
	}

	.nav__item_contact & {
		background-image: url($path + '/images/ico_contact.png' + $ver);
	}
	.nav__item_contact.nav__item_active &,
	.nav__item_contact:hover & {
		background-image: url($path + '/images/ico_contact_active.png' + $ver);
	}
}

.nav__ico {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.nav__text {
	display: inline-block;
	line-height: 58px;
	font-size: $fs_caption;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
}

.nav__blocker {
	position: fixed;
	z-index: -1;
	top: $g_header + $g_nav;
	height: 100%;
	left: 0;
	right: 0;
	background: rgba(#000, .7);
	opacity: 0;
	visibility: hidden;
	transition: opacity $s/2 linear;

	.nav-open & {
		z-index: 300;
		opacity: 1;
		visibility: visible;
	}
}


.nav__panel {
	display: none;
	padding: 7px 40px;
	line-height: $g_nav;

	@include res(pad) {
		display: block;
		float: left;
		cursor: pointer;
	}
}

.nav__filter {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: $c_accent;
	text-align: center;
}

.nav__filter-ico {
	width: 20px;
	margin: 15px 0 0;
	vertical-align: top;
}

.nav__trigger {
	display: none;
	padding: 0 40px;
	line-height: $g_nav;

	@include res(pad) {
		display: block;
		float: right;
		cursor: pointer;
	}
}

.nav__burger {
	@include res(pad) {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		box-sizing: border-box;
		vertical-align: middle;
		-webkit-tap-highlight-color: transparent;
		transition: opacity $s linear;
	}
}

.nav__burger-ico {
	@include res(pad) {
		position: absolute;
		top: 50%;
		left: 0;
		width: 30px;
		height: 4px;
		margin: -4px 0 0 0;
		border-radius: 2px;
		background: $c_accent;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: -9px;
			width: 100%;
			height: 4px;
			margin: -1px 0 0 0;
			border-radius: 2px;
			background: inherit;
			transition: all $s / 2 linear;
		}

		&:after {
			top: auto;
			bottom: -10px;
		}
	}
}

.nav__label {
	display: inline-block;
	padding: 0 0 0 15px;
	font-size: $fs_caption;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;

	@include res(smart) {
		display: none;
	}
}

.nav__close {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	height: $g_nav;
	background: $c_light;
	color: #555;
	line-height: $g_nav;
	text-align: center;
	font-size: $fs_caption;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity $s/2 linear;

	.nav-open &,
	.panel-open & {
		z-index: 400;
		opacity: 1;
		visibility: visible;
	}
}

.nav__close-ico {
	width: 20px;
	height: 20px;
	margin: -4px 10px 0 0;
	vertical-align: middle;
}






