.section {
	flex: 1 1 auto;
	display: flex;
	width: 100%;
	max-width: $m_full;
	margin: 0 auto;
	padding: $g_header + $g_nav 0 0;

	.page_home & {
		.lt-ie10 & {
			min-height: 1350px;
		}
	}

	.page_family & {
		.lt-ie10 & {
			min-height: 1300px;
		}
	}

	.page_planner & {
		.lt-ie10 & {
			min-height: 1100px;
		}
	}

	.page_profile & {
		.lt-ie10 & {
			min-height: 600px;
		}
	}
}

.section__wrapper {
	@extend .wrapper;
	padding-top: 30px;
	padding-bottom: 30px;
	flex: 1 1 auto;
	//
	//.panel + & {
	//	max-width: $g_narrow;
	//}

	.panel + & {
		.lt-ie10 & {
			padding-left: 320px;
		}
	}

	@include res(pad) {
		padding-left: 10px !important;
	}

	@include res(smart) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	@include res(hd) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.section__title {
	@extend .title_h2;
	margin: 0 0 $g_v/2;
	text-align: center;
	//
	//.section_selected & {
	//	color: $c_primary;
	//}
}

.section__back {
	margin: -20px 0 20px;
	color: #555;
	line-height: 17px;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	@include res(smart) {
		margin-top: 0;
	}
}

.section__backlink {
	display: inline-block;
	text-decoration: none;

	&:before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 17px;
		margin: 0 15px 0 0;
		background: url($path + '/images/ico_back.png' + $ver) no-repeat 0 0;
		vertical-align: top;
	}
}