.section {
	flex: 1;
	padding: $g_header + $g_nav + 40px 0 40px;
}

.section__wrapper {
	@extend .wrapper;
}

.section__title {
	@extend .title_h2;
	margin: 0 0 $g_v/2;
	text-align: center;
	//
	//.section_selected & {
	//	color: $c_primary;
	//}
}

.section__back {
	margin: -20px 0 20px;
	color: #555;
	line-height: 17px;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.section__backlink {
	display: inline-block;
	text-decoration: none;

	&:before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 17px;
		margin: 0 15px 0 0;
		background: url($path + '/images/ico_back.png' + $ver) no-repeat 0 0;
		vertical-align: top;
	}
}