$popup_space: 80px;

.popup {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: $g_layout_min;
	opacity: 0;
	will-change: opacity, visibility, z-index;

	&_order {
		top: 50%;
		bottom: auto;
		margin-top: -370px;

		@include res(pad) {
			top: 0;
			bottom: 0;
			margin-top:	0;
		}
	}

	&_active {
		z-index: 2000;
		opacity: 1;
		visibility: visible;
	}
}

.popup__bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0;
	visibility: hidden;
	transition: opacity $s linear;
	will-change: opacity, visibility;

	.popup_active & {
		opacity: 0.7;
		visibility: visible;
	}

	@include res(pad) {
		.popup_person & {
			background: $c_light;
			opacity: 1;
		}
	}
}

.popup__main {
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 980px;
	min-height: 200px;
	margin: -200px 0 0 -490px;
	background: $c_light;
	text-align: center;
	opacity: 0;
	transition: opacity $s linear;
	will-change: opacity, width, margin-left;

	.popup_order & {
		display: block;
		position: relative;
		top: 0 !important;
		left: 0 !important;
		max-width: 600px;
		margin: 0 auto !important;
		padding: 40px 20px;
		background: none;
		color: $c_light;
	}

	.popup_active & {
		opacity: 1;
	}

	@include res(pad) {
		top: $g;
		bottom: $g;
		left: $g;
		right: $g;
		width: auto;
		margin: 0 !important;

		.popup_order & {
			top: 0;
			left: 0;
			max-width: 600px;
			max-height: 100%;
			margin: 0 auto !important;
			padding: 40px 20px 100px;
			background: none;
		}
	}
}

.popup__body {
	flex: 1;
	overflow: auto;
	padding: 0 $g * 2 30px;
	//
	//@include res(pad) {
	//	padding-top: 50px;
	//}
}

.popup__header {
	padding: 20px $g * 2;
}

.popup__title {
	@extend .title_h2;
	margin: 0;

	b {
		font-weight: 400;
	}
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 9px;
		left: 0;
		width: 100%;
		height: 1px;
		margin: -1px 0 0 0;
		background: $c_light;
		transform: rotate(45deg);
		transition: all $s / 2 linear;
	}

	&:after {
		transform: rotate(-45deg);
	}

	@include res(pad) {
		top: 28px;
		right: 20px;
		width: 40px;
		height: 40px;
	}
}


.popup__footer {
	min-height: 20px;
}